@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: #F5F8FA;
    color: #1D2C3C;
    padding: 30px 0;
}

/* header  */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 30px;
    margin:0 40px 85px;
    border-bottom: solid 2px rgba(224, 230, 234, 1);
}

nav {max-width: 476px;}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar a:link, 
.nav-bar a:visited {
    font-size: 14px;
    color: rgba(29, 44, 60, 1);
    display: inline-block;
    padding: 11px 20px;
    text-decoration: none;
    font-weight: 700;
}

.nav-bar li .account:link, 
.nav-bar li .account:visited {
    border-radius: 6px;
    border: 2px solid #646E7A;
}

.nav-bar a:hover {color: goldenrod}

.nav-bar li .account:hover {
    border:2px solid goldenrod;
}

/* main */

main {
    width: 892px;
    height: 795px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
    margin: 0 auto;
    display: flex;
    margin-bottom: 33px;
}

/* main.checkout  */
.checkout {
    flex-grow: 1;
    padding-top: 41px;
}

.space-border {
    padding: 0 48px 41px;
    border-bottom: 2px solid #F5F7FA;
    margin-bottom: 36px;
}

.checkout h1 {
    font-size: 30px;
    /* font-weight: 400;     */
}

.title {
    margin-bottom: 21px;
}

.title span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid  rgba(84, 139, 197, 1);
    border-radius: 50%;
    text-align: center;
    color: rgba(84, 139, 197, 1);
    padding-top: 2.4px;
    padding-right: 1px;
    font-weight: 700;
    margin-right: 10px;
}

.title h2{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.user-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-box {
    width: calc(100% / 2 - 15px);
}

.details {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 7px;
}

input {
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #EDEFF2;
    height: 36px;
    padding: 10px 13px;    
}

input:focus {
    outline: none;
    border: 2px solid hwb(204 7% 25% / 0.671);
}

.creditcard-details {
    position: relative;
    background: #EDEFF2;
    border-radius: 4px;
    padding-right: 120px;
}

.creditcard-details input {
    background-color: transparent;
}

.card-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: rgba(100, 110, 122, 1);    
    font-weight: 400;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & span {
        display: block;
    }
}

button {
    display: block;
    border-radius: 5px;
    background: #038E7D;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 483px;
    outline: none;
    border: none;
    margin: auto;
    margin-bottom: 23px;
}

section p.footer {
    width: 303px;
    margin: auto;
    background: url('../images/Mask.svg');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 30px;
    margin-bottom: 15px;
}

p.footer a, p.footer a:link, p.footer a:visited {
    color: #1D2C3C;
}

p.footer a:hover {
    color: #1d2c3cb6;
}

.stripe-logo {
    display: block;
    margin: auto;
}

/* main.planinfo */

.planinfo {
    width: 312px;
    height: 795px;
    border-radius: 0px 6px 6px 0px;
    background: #1179BF;
    padding: 42px 46px;
    color: #FFF;
}

.bold {
    font-weight: 700;
}

p.header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.price {    
    & sup {
        font-size: 24px;
        font-weight: 700;
    }
    font-size: 60px;
    font-weight: 300;
    & span {
        font-size: 20px;
        font-weight: 700;
    }
}

.automatically-renews {
    font-style: italic;
    margin-bottom: 36px;
}

.planinfo ul {
    list-style-type: none;
    margin-bottom: 38px;
}

.planinfo ul li {
    background: url(../images/Combined\ Shape.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-bottom: 15px;
}

.planinfo ul li:last-child{
    margin-bottom: 0;
}

.need-20-client-sites {
    line-height: 2;
    margin-bottom: 41px;

    & a span {
        font-style: italic;
    }

    & a, a:link, a:visited {
        color: #FFF;
        font-weight: 700;
        text-decoration-color: rgba(185, 245, 255, 0.8);
    }

    & a:hover, a:focus {
        color: #ffffffc9;
    }

    & a:active {
        color: #ffffffa8;
    }
}

.planinfo hr {
    height: 2px;
    color: rgba(255, 255, 255, 0.2);
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 41px;
}

.comment {
    & p {
        font-size: 18px;
        font-style: italic;
        margin-bottom: 17px;
    }

    & figure {
        display: flex;
        flex-direction: row;
        height: fit-content;
        align-items: center;
    }

    & figure img {
        display: inline-block;
        border-radius: 50%;
        margin-right: 14px;
    }

    & figure span {
        display: inline-block;
    }
}

/* footer  */

footer {
    font-size: 14px;
    text-align: center;
}